@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

.main {
    width: 1600px;
    height: 3321px;
    /* background: linear-gradient(107deg, rgba(9, 35, 78, 1) 8%, rgba(15, 15, 17, 1) 45%); */
    background-color: #0f0f11;
    background-image: url(./img/bg.png);
    background-repeat: no-repeat;
}

.main-header {
    width: 1500px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    margin: auto;
}

.header-menu {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 12px;

}

.menu-link-fire {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.menu-link {
    text-decoration: none;
    color: white;
}

.hot-cold {
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
}

.header-icon {
    display: flex;
    gap: 30px;
    text-decoration: none;
}

.order-food {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.order-food__wrapper {
    color: white;
}

.p-order {
    margin: 0 70px 25px 50px;
    font-size: 25px;
}

.phone {
    font-size: 25px;
    margin: 25px 0 10px 50px;
}

.e-mail {
    font-size: 18px;
    margin-left: 50px;
}

.popular-dishes {
    color: white;
}

.desert {
    width: 264px;
    margin-left: 50px;
    color: white;
    margin-top: 50px;
}

.price-cart {
    margin-top: 10px;
}

.wrap {
    margin-left: 30px;
    margin-top: -20px;
}

.wrapper-popular-dishes {
    display: flex;
    flex-wrap: wrap;
}

.popular-dishes__title {
    text-align: center;
    margin-top: -50px;
    margin-bottom: 50px;
    font-size: 80px;
}

.wrapper-popular-dishes {
    display: flex;
    gap: 15px;
    margin-left: 50px;
}

.photos {
    width: 233px;
}

.title {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.gramm {
    font-size: 13px;
    border: 1px solid #9EA2AA;
    background-color: #9EA2AA;
    border-radius: 3px;
    padding: 1px 2px;
}

.description {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 13px;
}

.price-cart {
    display: flex;
    gap: 30px;
    align-items: center;
}

.dishes-cart {
    border: 1px solid #FBD13E;
    background-color: #FBD13E;
    padding: 3px;
    text-decoration: none;
}

.menu {
    margin-top: 200px;
    margin-bottom: 220px;
}

.menu__title {
    text-align: center;
    margin-bottom: 50px;
    font-size: 80px;
    color: white;
}

.wrapper-menu {
    display: flex;
    gap: 15px;
    margin-left: 50px;
}

.all-size {
    text-align: center;
    width: 233px;
    height: 314px;
}

.stocks {
    background-color: #B70000;
}

.dishes {
    background-color: black;
}

.stock-persent {
    color: #0F0F11;
    font-size: 80px;
    text-align: center;
}

.stock-fire {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    margin: 50px auto;
}

.menu-title {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 35px auto;
}

.title-soup {
    margin: 33px auto;
}

.title-khinkali {
    margin: 47px auto;
}

.title-snacks {
    margin: 8px auto;
}

.title-salats {
    margin: 43px auto;
}

.footer {
    background-color: black;
    padding-top: 50px;
    padding-bottom: 25px;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

.footer-navbar {
    display: flex;
    gap: 20px;
    align-items: end;
}

.foter-link {
    color: white;
    text-decoration: none;
}

.logo-nav {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    /* margin-bottom: 20px; */
}

.phone-email {
    display: flex;
    justify-content: space-between;
    align-items: end;
    /* align-items: center; */
    gap: 30px;
    color: white;
}

.footer-line {
    border-bottom: 1px solid white;
    margin: 20px 50px;
}

.under-line {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 12px;
    margin-left: 50px;
    margin-right: 50px;
}

.privacy-policy {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}


